html,
body {
  color: #636363;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

body {
  position: relative;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* a {
  text-decoration: none;
  /* display: block; */
}

* ul li {
  list-style: none;
}

.container {
  max-width: 1199px;
  margin: auto;
}

.btn-gradient button {
  padding: 20px 35px;
  font-size: 15px;
  font-weight: 500;
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  color: #fff;
  border-radius: 30px;
  border: none;
  text-transform: uppercase;
  line-height: 1.2;
  cursor: pointer;
  transition: 0.5s;
}

.btn-gradient button:hover {
  background-position: right center;
}

.mt {
  margin-top: 115px;
}

/* Start header */

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__content nav {
  display: flex;
  align-items: center;
}

.header__content nav ul {
  display: flex;
  margin-right: 30px;
}

.header__content li {
  padding: 55px 15px;
}

.header__content li a {
  color: #070120;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.5s;
}

.header__content li a:hover {
  color: #f55f8d;
}

.header__content li a:hover span {
  animation: upToDown 0.3s;
}

.header__content span {
  display: inline-block;
}

.header__content i {
  font-size: 10px;
  margin-top: -3px;
  vertical-align: middle;
}

@keyframes upToDown {
  49% {
    transform: translateY(-100%);
  }
  50% {
    opacity: 0;
    transform: translateY(100%);
  }
  51% {
    opacity: 1;
  }
}

/* End header */

/* Started carousel */
.carousel {
  padding-top: 180px;
  background-image: url(../imgs/pic2.png);
  background-size: 100%;
  background-position: top;
  overflow: hidden;
}

.carousel__left {
  width: 60%;
}

.carousel__right {
  width: 40%;
}

.carousel__content {
  display: flex;
  align-items: center;
}

.title p {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #f55f8d;
}

.title h2 {
  font-size: 70px;
  font-weight: 800;
  line-height: 1.1;
  color: #262626;
  margin-bottom: 20px;
}

.left__content p {
  font-size: 18px;
  margin-bottom: 15px;
}

.left__content li {
  font-size: 20px;
  padding: 10px 5px 10px 0;
}

.left__content li i {
  height: 35px;
  width: 35px;
  line-height: 35px;
  text-align: center;
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  font-size: 24px;
  font-weight: 900;
  color: #fff;
  margin-right: 10px;
  border-radius: 35px;
}

.left__btn {
  margin-top: 20px;
}

.carousel__right .right__banner {
  margin-left: 50px;
}

.right__banner img {
  /* max-width: 100%; */
  display: block;
}

/* Start service */
.service {
  background-image: url(../imgs/bg2.png);
  background-position: top center;
  background-size: cover;
  text-align: center;
}

.service__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
}

.service__content .service__item {
  padding: 35px 45px;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  transform: translateY(0);
  transition: 0.5s;
}

.service__content .service__item:hover {
  transform: translateY(-20px);
}

.service__item img {
  width: 215px;
}

.service__item h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 15px 0;
  color: #262626;
}

/* End service */
.aboutUs {
  background-image: url(../imgs/bg15.png);
  background-position: center right;
  background-size: 100%;
  background-repeat: no-repeat;
  padding-bottom: 85px;
  overflow: hidden;
}

.aboutUs__content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.content__left {
  position: absolute;
  left: -17%;
  width: 60%;
}

.content__left img {
  width: 100%;
  border-radius: 0 100px 100px 0;
}

.content__right {
  width: 50%;
}

.content__right p {
  margin-bottom: 15px;
}

.content__right ul {
  margin-bottom: 30px;
}

.content__right i {
  font-size: 24px;
  color: #f55f8d;
  margin-right: 10px;
  vertical-align: middle;
}

/* End aboutUs */

/* Start number */

.number {
  background-image: url(../imgs/bg14.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 0 50px;
  text-align: center;
}

.number__content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.number .number__item {
  width: 25%;
}

.number__item i {
  display: inline-block;
  width: 80px;
  height: 80px;
  color: #fff;
  line-height: 80px;
  font-size: 45px;
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border-radius: 50%;
  margin-bottom: 15px;
}

.number__item p:first-of-type {
  font-size: 65px;
  font-weight: 800;
  color: #f55f8d;
  line-height: 1;
}

.number__item p:last-of-type {
  font-size: 18px;
  color: #262626;
}

/* End number */

.feature {
  background-image: url(../imgs/bg2.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}

.feature__content {
  display: flex;
}

.feature__left,
.feature__right {
  width: 50%;
}

.feature__item {
  padding: 0 50px 30px 0;
}

.feature__bg {
  display: flex;
  align-items: center;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.feature__item i {
  font-size: 80px;
  line-height: 1px;
  color: #f55f8d;
  z-index: 1;
  transition: 1s;
}

.feature__content .item__container {
  padding-left: 25px;
  z-index: 1;
  transition: 1s;
}

.feature__item .item__container h3 {
  font-weight: 800;
  color: #262626;
  font-size: 1.5rem;
  transition: 1s;
}

.feature__item:nth-last-of-type(2) {
  padding: 0 0 30px 50px;
}

.feature__bg::after {
  content: '';
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 1s;
}

.feature__item:hover .feature__bg::after {
  opacity: 1;
}

.feature__item:hover .feature__bg i,
.feature__item:hover .item__container h3,
.feature__item:hover .item__container {
  color: #fff;
}

.feature__right img {
  max-width: 100%;
  animation: featureMove 5s infinite;
}

.feature .feature__banner {
  padding: 8px 0;
  margin-right: -80px;
}

@keyframes featureMove {
  0% {
    transform: rotate(1deg) translate(2px, 2px);
  }
  50% {
    transform: rotate(-1deg) translate(-2px, -2px);
  }
  100% {
    transform: rotate(1deg) translate(2px, 2px);
  }
}

/* End feature */

/* Start portfolio */

.portfolio {
  background-image: url(../imgs/bg17.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
}

.portfolio__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 1.5fr;
  gap: 35px;
}

.item-1 {
  grid-column: 1 / 3;
}

.item-5 {
  grid-column: 1 / 3;
}

.item-6 {
  grid-column: 3 / 4;
  grid-row: 2 / 4;
}

.portfolio__item {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.portfolio__item::before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.3) 100%);
  height: 100%;
  width: 50%;
  transform: skewX(-25deg);
  transition: 0.75s;
}

.portfolio__item img {
  display: block;
  width: 100%;
  height: 100%;
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: 0.75s;
}

.portfolio__icon {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 28px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border-radius: 10px;
  transition: 0.75s;
}

.portfolio__icon a {
  cursor: pointer;
}

.portfolio__text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  transform: translateY(150px);
  transition: 0.75s;
}

.portfolio__text h3 {
  font-size: 22px;
  font-weight: 800;
  color: #fff;
}

.portfolio__text p {
  color: #fff;
  opacity: 0.7;
}

.portfolio__item:hover::before {
  left: 125%;
}

.portfolio__item:hover .portfolio__icon {
  transform: translate(-20px, 20px);
}

.portfolio__item:hover .portfolio__text {
  transform: translateY(0);
}

.portfolio__item:hover .portfolio__overlay {
  opacity: 1;
}

/* End portfolio */

/* Start plan */

.phan {
  background-image: url(../imgs/bg16.png);
  background-size: cover;
  background-position: center;
  text-align: center;
}

.plan__card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  z-index: 2;
}

.card__item {
  padding: 35px 60px;
  box-shadow: 1px 0 50px rgb(0 0 0 / 10%);
  background-color: #fff;
  border-radius: 8px;
  border: 3px solid transparent;
  border-image: 100 round;
  transition: all 0.5s;
}

.card__item:hover {
  border-image: url(../imgs/br.png) 1 round;
}

.card__item h3 {
  font-weight: 700;
  color: #262626;
  font-size: 2rem;
}

.card__item img {
  width: 125px;
}

.card__item p {
  font-size: 18px;
  color: #262626;
  font-weight: 600;
}

.card__item span {
  color: #f8ae56;
  font-size: 50px;
  font-weight: 800;
}

.card__item ul {
  text-align: left;
  padding: 15px 0;
  border-top: 1px solid #e1e1f0;
}

.card__item li {
  padding: 5px 0;
  font-size: 18px;
  color: #262626;
  font-weight: 400;
}

.card__item li i {
  font-size: 12px;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  background-color: #feeff3;
  color: #f55f8d;
  border-radius: 100%;
  margin-right: 15px;
}

/* End plan */

/* Start testimonial */

.testimonial {
  text-align: center;
  background-image: url(../imgs/bg17.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.testimonial__thumbs {
  width: 300px;
  margin: auto;
  box-sizing: border-box;
  height: 170px;
  position: relative;
  overflow: hidden;
}

.testimonial__thumbs .swiper-slide-active .testimonial__pic {
  padding: 0 0 40px;
}

.testimonial__thumbs .testimonial__pic {
  padding: 30px 0 0;
  transition: all 0.5s;
}

.testimonial__pic img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  padding: 5px;
  position: relative;
  z-index: 2;
  background-color: #f55f8d;
}

.testimonial__pic .pic--shape {
  position: relative;
  height: 35px;
  width: 50px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 18px;
  opacity: 0;
  transition: all 1s;
  background-color: #f55f8d;
}

.pic--shape::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url(../imgs/pattern12.png);
  background-position: bottom;
  background-size: cover;
  height: 100%;
  width: 100%;
  transition: all 1s;
}

.testimonial__pic::after,
.testimonial__pic::before {
  content: '';
  background-color: #f55f8d;
  border-radius: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}

.testimonial__pic::before {
  height: 15px;
  width: 15px;
  bottom: 30px;
}

.testimonial__pic::after {
  height: 10px;
  width: 10px;
  bottom: 0;
}

.testimonial__thumbs::after,
.testimonial__thumbs::before {
  content: '';
  position: absolute;
  width: 30px;
  top: 0;
  height: 100%;
  z-index: 2;
}

.testimonial__thumbs::before {
  left: 0;
  background: linear-gradient(to right, #fff 0, rgba(255, 255, 255, 0) 100%);
}

.testimonial__thumbs::after {
  right: 0;
  background: linear-gradient(to left, #fff 0, rgba(255, 255, 255, 0) 100%);
}

.swiper-slide-active .testimonial__pic::after,
.swiper-slide-active .testimonial__pic::before,
.swiper-slide-active .pic--shape {
  opacity: 1;
}

.testimonial__comment {
  min-height: 300px;
  width: 100%;
  overflow: hidden;
}

.testimonial__text {
  padding: 30px;
  text-align: center;
  box-shadow: 0 10px 20px 0 rgb(0 0 0 / 10%);
  margin: 0 auto;
  border-radius: 10px;
  background-color: #fff;
  max-width: 770px;
  position: relative;
}

.testimonial__text i {
  position: absolute;
  top: 10px;
  left: 30px;
  font-size: 70px;
  color: #f55f8d;
  transform: rotate(-180deg);
}

.testimonial__name {
  font-size: 22px;
  font-weight: 800;
  color: #000;
  line-height: 26px;
  margin-bottom: 5px;
}

.testimonial__text p {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  padding: 0 15px 15px;
}

.testimonial__text p {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  padding: 0 15px 15px;
}

.testimonial__comment .swiper-wrapper {
  padding-bottom: 20px;
}

.swiper-pagination-bullets.swiper-pagination-horizontal,
.testimonial .swiper-horizontal > .swiper-pagination-bullets {
  bottom: auto;
}

.swiper-pagination-bullet-active {
  background: #f55f8d;
}

.swiper-pagination {
  position: relative;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  margin: 0 4px;
}
/* End testimonial */

/* Blog */

.blog {
  background-image: url(../imgs/bg16.png);
  background-size: cover;
  background-position: left center;
  text-align: center;
  padding-bottom: 50px;
}

.blog__item {
  text-align: left;
  background: rgba(245, 95, 141, 0.1);
  border-radius: 8px;
}

.blog__header {
  position: relative;
}

.blog__header img {
  width: 100%;
  border-radius: 8px;
}

.blog__header p {
  position: absolute;
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 14px;
  color: #fff;
  bottom: -20px;
  left: 15px;
}

.blog__body {
  padding: 30px 15px 20px 15px;
  line-height: 1.4;
  margin-bottom: 20px;
}

.blog__body h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #262626;
}

.blog__footer {
  display: flex;
  align-items: center;
  padding: 15px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.blog__footer p:first-of-type {
  margin-right: 20px;
}

.blog__footer i {
  font-size: 22px;
  color: #f55f8d;
  vertical-align: sub;
}

.blog__footer p:first-of-type span {
  color: #f55f8d;
}

.blog__footer p:first-of-type {
  margin-right: 20px;
}

/* End blog */

/* Start footer */

footer {
  background-image: url(../imgs/bg4.png);
  display: block;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0e1b1f;
  background-size: contain;
  color: #fff;
  font-size: 15px;
  position: relative;
}

.footer__top {
  padding: 50px 60px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
  background-image: url(../imgs/pattern3.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  display: flex;
}

.footer__form,
.footer__text {
  width: 50%;
}

.footer__text h2 {
  font-size: 28px;
  color: #262626;
}

.footer__form form {
  display: flex;
  border-radius: 0.5rem;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
}

.footer__form input {
  padding: 20px 20px;
  font-size: 15px;
  font-weight: 400;
  color: #888;
  background: #fff;
  flex: 1 1 auto;
  border-radius: 0.5rem 0 0 0.5rem;
  border: 1px solid #fff;
  outline: 0;
  transition: all 0.5s;
}

.footer__form button {
  padding: 20px 35px;
  font-size: 20px;
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border-color: transparent;
  transition: all 0.5s;
  border-radius: 0 0.5rem 0.5rem 0;
  color: #fff;
  cursor: pointer;
}

.footer__form button:hover {
  background-position: right center;
}

.footer__form button:hover i {
  animation: leftToRight 0.5s forwards;
  display: inline-block;
}

.footer__bottom {
  display: flex;
  padding: 70px 0;
  position: relative;
}

.footer__item {
  width: 25%;
}

.footer__item li {
  padding: 0.5rem 0;
}

.footer__contact li {
  padding: 8px 0;
  display: flex;
  align-items: center;
}

.footer__item i {
  font-weight: 700;
  margin-right: 10px;
}

.footer__contact i {
  height: 40px;
  width: 40px;
  line-height: 40px;
  margin-right: 10px;
  text-align: center;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  display: block;
  border-radius: 50px;
}

.footer__item h3 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
  margin-bottom: 30px;
  position: relative;
  color: #fff;
}

.footer__item h3::after,
.footer__item h3::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 20px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
}

.footer__item h3::before {
  width: 15px;
}

.footer__item h3::after {
  width: 45px;
  left: 20px;
}

.footer__item a {
  color: #636363;
  font-size: 16px;
  transition: all 0.5s;
}

.footer__item a:hover {
  color: #fff;
}

.footer__copyright {
  background-color: #1f343b;
  padding: 10px 0;
  position: relative;
}

.copyright__content {
  display: flex;
  justify-content: space-between;
}

.copyright__left span {
  color: #f55f8d;
}

.copyright__right a {
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  display: inline-block;
  border-radius: 50px;
  font-size: 14px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.5s;
}

.copyright__right a:hover {
  background: #f55f8d;
}

footer::before {
  content: '';
  background-image: url(../imgs/pattern2.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.backToTop {
  width: 50px;
  height: 50px;
  background: #f55f8d;
  border-radius: 8px;
  line-height: 50px;
  text-align: center;
  display: block;
  position: fixed;
  right: 15px;
  bottom: 15px;
  color: #fff;
  transition: all 0.2s;
  box-shadow: -4px 4px 24px -10px #f55f8d;
  visibility: hidden;
  opacity: 0;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

@keyframes leftToRight {
  49% {
    transform: translateX(100%);
  }
  50% {
    opacity: 0;
    transform: translateX(-100%);
  }

  51% {
    opacity: 1;
  }
}
